html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    width: 100%;
    height:5rem;
    font-size: 30px;
    border-radius: 5px;
    padding-bottom:10px;
    padding-top: 10px;
    background-color: rgb(218, 218, 218);
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.disp{
    margin-top: 10px;
    grid-column:span 2;
    height: 5rem;
}

.key{
    width: 5rem;
    height: 5rem;
}

.output{
    align-self: flex-end;
    padding-right: 15px;
}
.input{
    padding-left: 10px;
}

.calculator{
    border: 2px solid black ;
    padding: 40px;
    border-radius: 10px;
    background-color: bisque;
}
button{
    font-size: 30px;
    border-radius: 5px;
}